.offer {
  &__wrapper {
    max-width: 420px;
    margin: 30px auto 0px;
    padding: 0 15px;
    scroll-behavior: smooth;

    &--extra {
      display: none;
    }
  }
  &__inner {
    max-width: 100%;
  }

  &__title {
    overflow: hidden;
    color: $dark-gray-color;
    font-weight: $font-weight-700;
    font-size: $font-18;
    font-style: normal;
    line-height: 23px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__nav {
    position: sticky;
    top: 0px;
    z-index: 20;
    display: none;
    padding: 15px 0px;
    background: #ffff;
  }

  & .nav {
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
    color: $dark-gray-color;
    font-weight: $font-weight-600;
    font-size: $font-12;
    line-height: 16px;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;

    @extend .offer__wrapper;

    &__link {
      color: $dark-gray-color;
      text-decoration: none;
    }
  }

  &__user-info {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__user-avatar-link {
    position: relative;
    display: inline-table;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__user-avatar {
    max-width: 100%;
  }

  &__user-text {
    display: flex;
    flex-wrap: wrap;
  }

  &__user-name {
    width: 100%;
    margin-bottom: 5px;
    color: $dark-gray-color;
    font-weight: $font-weight-600;
    font-size: $font-16;
    line-height: 18px;
    text-decoration: none;
  }

  &__user-star-wrapper {
    position: relative;
    width: fit-content;
    margin-right: 5px;
    text-align: right;
  }
  &__user-star {
    position: relative;
    padding-right: 5px;
    padding-left: 26px;
    font-weight: $font-weight-600;
    font-size: $font-16;
    font-style: normal;
    line-height: 20px;
    &::before {
      position: absolute;
      top: 57%;
      left: 0;
      width: 17px;
      height: 17px;
      background-image: url(/assets/img/star.svg);
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      content: '';
    }
  }

  &__user-comments {
    color: $gray-color;
    font-weight: $font-weight-400;
    font-size: $font-16;
    font-style: normal;
    line-height: 24px;
  }
  &__message-wrapper {
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 32px;
    border: 1px solid #bfc5d1;
    border-radius: 4px;

    cursor: pointer;
  }

  &__gallery {
    position: relative;
    margin: 15px auto;
    padding: 0 15px;
  }
  &__fullsize-icon-wrapper {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 2;
    padding: 10px;
    background: rgba(255, 255, 255, 0.77);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border-radius: 3px;
    cursor: pointer;
  }

  &__sub-gallery {
    display: none;
    margin-top: 10px;
  }

  &__gallery-item-wrapper {
    width: 100%;
    max-height: 200px;
  }
  &__sub-gallery-item-wrapper {
    width: 50%;
    height: 100px;
  }

  &__fullsize {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0 10px;
    background-color: rgba(192, 192, 192, 0.77);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    &--open {
      z-index: 20;
      opacity: 1;
      pointer-events: visible;
    }
  }

  &__fullsize-wrapper {
    position: relative;
  }

  &__fullsize-close-icon {
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 100;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 3px;
      background-color: $secondary-color;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
      content: '';
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 3px;
      background-color: $secondary-color;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      content: '';
    }
  }
  &__gallery-item-wrapper--full {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    height: 100vh;
  }

  &__sub-gallery-img {
    width: 100%;
    height: 100%;
  }

  &__gallery-img {
    width: 100%;
    height: 200px;
  }
  &__gallery-img--full {
    max-width: 100%;
  }

  & .about {
    margin: 20px 0px 40px;
    color: $dark-gray-color;

    &__title {
      font-weight: $font-weight-700;
      font-size: $font-18;
      line-height: 23px;
    }

    &__text {
      color: $shadow-color;
      font-weight: $font-weight-400;
      font-size: $font-16;
      line-height: 20px;
    }
  }

  & .tabs {
    &__content-wrapper {
      box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);
    }
    &__content {
      padding: 10px 15px;
    }
    &__buttons-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    &__button {
      width: 32%;
      padding: 10px 0px;
      color: $white-color;
      font-weight: $font-weight-600;
      font-size: $font-12;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      background: #3c7eea;
      border: 1px solid #3c7eea;
      border: none;
      border-radius: 3px;
      outline: none;
      box-shadow: 0 0 16px rgba(128, 152, 213, 0.2);
      transition: all 0.3s;
      &--disabled {
        //todo add color
        background-color: #c2cfe0;
      }
    }

    &__title-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    &__title {
      overflow: hidden;
      color: $gray-color;
      font-weight: $font-weight-700;
      font-size: $font-18;
      font-style: normal;
      line-height: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
    }

    &__price {
      position: relative;
      margin-left: 10px;
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-size: $font-18;
      font-style: normal;
      line-height: 30px;
      white-space: nowrap;
      &::after {
        font-weight: $font-weight-800;
        content: '\20B4';
      }
    }

    &__short-description {
      margin: 0 0 20px;
      color: #4e5051;
      font-weight: $font-weight-400;
      font-size: $font-14;
      font-style: normal;
      line-height: 23px;
      //todo add color
      overflow-wrap: break-word;
    }

    & .changes-term {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      &__correction {
        position: relative;
        margin-left: 20px;
        &::before {
          position: absolute;
          top: 50%;
          left: -20px;
          width: 18px;
          height: 18px;
          background-image: url(/assets/img/service-changes.svg);
          background-repeat: no-repeat;
          background-size: contain;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: '';
        }
      }

      &__term {
        position: relative;
        margin-left: 20px;
        &::before {
          position: absolute;
          top: 50%;
          left: -30px;
          width: 18px;
          height: 18px;
          background-image: url(/assets/img/calendar.svg);
          background-repeat: no-repeat;
          background-size: contain;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: '';
        }
      }
    }

    &__extra-options-btn-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &__extra-options-btn {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 0 auto;
      padding: 10px 0px;
      color: $secondary-color;
      font-weight: $font-weight-400;
      font-size: $font-13;
      line-height: 117%;
      text-transform: uppercase;
      background: 0 0;
      border: none;
      outline: none;
      cursor: pointer;
    }

    &__extra-options-list {
      //todo logic
      max-height: 0px;
      padding: 0px;
      overflow: hidden;
      transition: all 0.5s ease;

      &--open {
        max-height: 230px;
        padding: 15px 0px;
        overflow: auto;
        transition: all 0.5s ease;
      }
    }

    &__extra-options-arrow {
      position: absolute;
      right: -25px;
      transition: transform 0.5s ease;
      &--open {
        transform: rotate(180deg);
      }
    }

    &__extra-options-item {
      margin: 0;
    }
    &__extra-options-price {
      position: relative;
      margin: 0;
      &::after {
        font-weight: $font-weight-900;
        content: ' ₴';
      }
    }

    &__extra-option-order-wrapper {
      display: flex;
      align-items: center;
    }
    &__extra-option-order-btn {
      width: 100%;
      margin: auto;
      padding: 13px 0;
      color: $secondary-color;
      font-weight: $font-weight-600;
      font-size: $font-14;
      font-style: normal;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      background: transparent;
      border: 1px solid #4285f4;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
    }

    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;
    }
    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin: 0;
    }

    .ant-checkbox + span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 10px;
      padding: 0;
    }
  }

  & .compare {
    display: none;
    &__wrapper {
      display: table;
      width: 100%;
    }

    &__title {
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-size: $font-24;
      font-style: normal;
      line-height: 30px;
    }
    &__table-title {
      display: table-header-group;
      background: #f4f7fc;
      border-bottom: 1px solid #dce0e6;
      border-radius: 5px 5px 0 0;
    }

    &__table-cell {
      display: table-cell;
      width: 25%;
      padding: 40px 0;
      color: $dark-gray-color;
      font-weight: $font-weight-600;
      font-size: $font-16;
      font-style: normal;
      letter-spacing: 0.15px;
      text-align: center;
      text-transform: uppercase;
      border-left: 1px solid #dce0e6;
    }

    &__table-item {
      display: table-row;
      background: $white-color;
      border-bottom: 1px solid #dce0e6;
    }

    &__item-cell {
      position: relative;
      display: table-cell;
      padding: 10px 12px;
      color: $dark-gray-color;
      font-weight: $font-weight-400;
      font-size: $font-14;
      font-style: normal;
      line-height: 18px;
      word-break: break-word;
      border-bottom: 1px solid #dce0e6;
      border-left: 1px solid #dce0e6;
      &--center {
        text-align: center;
      }
    }
    &__item-cell-btn {
      margin: 15px auto 5px;
      padding: 11px 0;
      color: $white-color;
      font-weight: $font-weight-600;
      font-size: $font-14;
      font-style: normal;
      line-height: 16px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      background: #3c7eea;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(60, 9, 179, 0.3);
      cursor: pointer;
    }
  }
  & .rating {
    margin: 40px 0px 60px;

    &__title {
      margin: 0 0 15px 0;
      overflow: hidden;
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-size: $font-18;
      font-style: normal;
      line-height: 23px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    &__type-name {
      margin: 0;
      color: $dark-gray-color;
      font-weight: $font-weight-600;
      font-size: $font-14;
      font-style: normal;
      line-height: 18px;
    }
    &__type-star {
      position: relative;
      padding-right: 5px;
      padding-left: 26px;
      font-weight: $font-weight-600;
      font-size: $font-16;
      font-style: normal;
      line-height: 20px;
      &::before {
        position: absolute;
        top: 45%;
        left: 0;
        width: 17px;
        height: 17px;
        background-image: url(/assets/img/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '';
      }
    }

    &__type-average {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      padding: 15px 0px;
      border-top: 1px solid #ebeeff;
      border-bottom: 1px solid #ebeeff;
    }
    &__type-average-text {
      margin: 0;
      color: $dark-gray-color;
      font-weight: $font-weight-600;
      font-size: $font-14;
      font-style: normal;
      line-height: 18px;
    }

    &__type-average-number {
      position: relative;
      box-sizing: border-box;
      padding-right: 5px;
      padding-left: 26px;
      font-weight: $font-weight-600;
      font-size: $font-16;
      font-style: normal;
      line-height: 20px;
      &::before {
        position: absolute;
        top: 45%;
        left: 0;
        width: 17px;
        height: 17px;
        background-image: url(/assets/img/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '';
      }
    }
  }

  & .comments {
    margin: 40px 0px;
    &__wrapper {
      padding: 10px 5px;
      background: #f4f7fc;
      border-radius: 4px 4px 0 0;
    }

    &__title {
      margin: 0 0 10px 0;
      color: $dark-gray-color;
      font-weight: $font-weight-500;
      font-size: $font-14;
      line-height: 23px;
      text-transform: uppercase;
    }

    &__empty-reviews {
      margin: 10px auto 10px;
      color: $dark-gray-color;
      font-weight: $font-weight-600;
      font-size: $font-16;
      line-height: 18px;
    }
    &__tabs {
      display: flex;
      justify-content: space-around;
    }
    &__btn {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 10px 13px 10px 10px;
      color: $black-color;
      font-weight: $font-weight-600;
      font-size: $font-13;
      line-height: 19px;
      text-transform: uppercase;
      border: 1px solid rgba(220, 224, 230, 0.1);
      border-radius: 3px;
      box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);
      cursor: pointer;
      transition: background 0.3s ease;
      &--active {
        color: $white-color;
        background: #3c7eea;
      }
    }
    &__arrow-wrapper {
      margin-left: 5px;
      transform: rotate(0deg);
      transition: all 0.3s ease;
    }
    &__arrow-wrapper--active {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
    &__arrow {
      & * {
        fill: black;
      }

      &--active * {
        fill: white;
      }
    }
  }

  & .question {
    margin-bottom: 25px;
    &__item {
      position: relative;
      padding: 7px 20px 9px;
      background-color: $white-color;
      cursor: pointer;
    }

    &__title {
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-size: $font-18;
      font-style: normal;
      line-height: 23px;
      word-wrap: break-word;
    }

    &__text {
      margin: 0;
      padding: 10px 10px 10px 0px;
      font-weight: $font-weight-600;
      font-size: $font-14;
      line-height: 18px;
    }

    &__toggler {
      &::after {
        position: absolute;
        top: 8px;
        right: 20px;
        width: 1px;
        height: 12px;
        border-left: 1px solid $gray-color;
        transform: rotate(90deg);
        transition: transform 0.5 ease;
        content: '';
      }
      &::before {
        position: absolute;
        top: 8px;
        right: 20px;
        width: 1px;
        height: 12px;
        border-left: 1px solid $gray-color;
        transform: rotate(0deg);
        transition: transform 0.5 ease;
        content: '';
      }
    }

    &__answer {
      max-height: 0px;
      margin: 0;
      overflow: hidden;
      transition: all 0.5s ease;

      &--open {
        max-height: 200px;
        transition: all 0.5s ease;
      }

      &--open ~ .question__toggler::before {
        transform: rotate(90deg);
        transition: transform 0.5s ease;
      }
    }
  }

  & .about-user {
    &__title {
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-size: $font-18;
      font-style: normal;
      line-height: 30px;
    }

    &__main-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__main-info-inner {
      text-align: center;
    }

    &__avatar-link {
      position: relative;
      display: block;
      width: 116px;
      height: 116px;
      overflow: hidden;
      border-radius: 50%;
    }
    &__avatar {
      width: 100%;
    }
    &__name {
      margin: 10px auto 10px;
      color: $dark-gray-color;
      font-weight: $font-weight-600;
      font-size: $font-16;
      line-height: 18px;
      cursor: pointer;
    }

    &__status {
      color: $dark-gray-color;
      font-weight: $font-weight-400;
      font-size: $font-16;
      font-style: normal;
      line-height: 20px;
    }
    &__comments {
      @extend .offer__user-comments;
    }

    &__rating-wrapper {
      display: flex;
    }

    &__rating {
      position: relative;
      margin: 0;
      padding-right: 5px;
      padding-left: 26px;
      font-weight: $font-weight-600;
      font-size: $font-16;
      font-style: normal;
      line-height: 20px;

      &::before {
        position: absolute;
        top: 45%;
        left: 0;
        width: 17px;
        height: 17px;
        background-image: url(/assets/img/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '';
      }
    }
    &__online-status-wrapper {
      position: relative;
      padding-left: 22px;
      color: $light-red-color;
      font-weight: $font-weight-600;
      &--online {
        color: $light-green-color;
        &::before {
          position: absolute;
          top: 44%;
          left: 0;
          width: 10px;
          height: 10px;
          background-color: $light-red-color;
          border-radius: 50%;
          -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
          content: '';
        }
      }
      &::before {
        position: absolute;
        top: 44%;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: $light-red-color;
        border-radius: 50%;
        -webkit-transform: translateY(-35%);
        transform: translateY(-35%);
        content: '';
      }
    }

    &__actions {
      display: flex;
      justify-content: space-around;
      width: 40%;
      margin: 30px auto 0px;
    }
    &__action {
      padding: 10px;
      border: 1px solid #bfc5d1;
      border-radius: 4px;
    }
    &__sub-info {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
    &__country-title {
      margin-bottom: 10px;
      font-weight: $font-weight-600;
      text-transform: capitalize;
    }

    &__country-name {
      color: $dark-gray-color;
      font-weight: $font-weight-400;
      font-size: $font-16;
      font-style: normal;
      line-height: 20px;
    }
    &__term-title {
      margin-bottom: 10px;
      font-weight: $font-weight-600;
      text-transform: capitalize;
    }

    &__term-info {
      color: $dark-gray-color;
      font-size: $font-16;
      font-style: normal;
      line-height: 20px;
    }
  }

  & .another-offers {
    &__title {
      display: flex;
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-style: normal;
    }
    &__sub-title {
      display: none;
    }
    & .card {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
      color: $gray-color;
      background-color: $white-color;
      border-radius: 3px;
      box-shadow: 0 0 4px rgba(199, 213, 255, 0.55);
      cursor: pointer;

      &__img-wrapper {
        width: 100%;
        height: 180px;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__description {
        display: flex;
        flex-direction: column;
        height: 100px;
        margin-top: 10px;
        padding: 0 10px;
      }

      &__about {
        min-height: 30px;
        margin-bottom: 35px;
        color: $black-color;
        font-size: $font-14;
        line-height: 16px;
        text-decoration: none;
        word-break: break-word;
      }

      &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__rating {
        display: flex;
      }

      &__star-wrapper {
        display: flex;
        width: 20px;
      }

      &__star {
        width: 100%;
      }

      &__star-count {
        margin-left: 5px;
      }

      &__reviews {
        margin-left: 30px;
      }
    }
    &__profile-link {
      display: none;
    }
  }

  & .add-block {
    display: none;
    &--active {
      display: block;
    }
    &__wrapper {
      width: calc(100vw - 10%);
      margin: 50px auto 20px;
      padding: 15px;
      background: #fafbfc;
      border-radius: 3px;
      box-shadow: 0px 0px 16px 3px rgba(60, 126, 234, 0.16);
    }
    &__title {
      margin-bottom: 7px;
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-size: $font-18;
      line-height: 23px;
    }
    &__sub-title {
      margin-bottom: 26px;
      color: $dark-gray-color;
      font-weight: $font-weight-600;
      font-size: $font-16;
      line-height: 20px;
    }

    &__extra {
      display: flex;
      flex-direction: column;
    }

    &__add-btn-wrapper {
      display: flex;
      justify-content: center;
    }
    &__add-btn {
      margin-top: 15px;
      padding: 10px 25px;
      color: $primary-color;
      font-weight: $font-weight-600;
      font-size: $font-14;
      text-transform: uppercase;
      background: $white-color;
      border: 1px solid $primary-color;
      border-radius: 4px;
      outline: none;
    }
    &__back-btn-wrapper {
      @extend .add-block__add-btn-wrapper;
    }
    &__back-btn {
      @extend .add-block__add-btn;
    }
  }
  & .confirm-block {
    display: none;
    width: calc(100vw - 10%);
    margin: 20px auto 0px;
    padding: 10px 20px;
    border: 1px solid rgba(220, 224, 230, 0.1);
    box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);
    &--open {
      display: block;
    }

    &__top-info {
      display: flex;
      justify-content: space-between;
    }

    &__type {
      margin: 0;
      color: $dark-gray-color;
      font-weight: $font-weight-700;
      font-size: $font-16;
      line-height: 20px;
    }

    &__base-price {
      margin: 0;
      color: $gray-color;
      font-weight: $font-weight-700;
      font-size: $font-18;
      line-height: 23px;
    }

    &__price-no-features {
      padding-right: 30px;
      color: $gray-color;
      font-size: $font-14;
      line-height: 21px;
    }

    &__features {
      display: flex;
      justify-content: space-around;
      margin: 15px 0px;
      padding: 12px 0px;
      border-top: 1px solid #ebeeff;
      border-bottom: 1px solid #ebeeff;
    }

    &__correction {
      position: relative;
      margin-left: 20px;
      &::before {
        position: absolute;
        top: 50%;
        left: -20px;
        width: 18px;
        height: 18px;
        background-image: url(/assets/img/service-changes.svg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '';
      }
    }

    &__term {
      position: relative;
      margin-left: 20px;
      &::before {
        position: absolute;
        top: 50%;
        left: -30px;
        width: 18px;
        height: 18px;
        background-image: url(/assets/img/calendar.svg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '';
      }
    }

    &__extra-title {
      margin-bottom: 11px;
      color: $dark-gray-color;
      font-size: $font-14;
      line-height: 21px;
      text-transform: uppercase;
    }

    &__extra {
      display: flex;
      flex-direction: column;
    }

    &__extra-item {
      display: flex;
      justify-content: space-between;
    }

    &__сommission {
      display: flex;
      justify-content: space-between;
    }

    &__final-price {
      display: flex;
      justify-content: space-around;
      color: $light-green-color;
      font-weight: $font-weight-400;
      font-size: $font-14;
      line-height: 117%;
      text-transform: uppercase;
    }

    &__btn-wrapper {
      display: flex;
      flex-direction: column;
    }
    &__confirm-btn {
      margin-bottom: 10px;
      padding: 12px 25px;
      color: $white-color;
      font-weight: $font-weight-600;
      font-size: $font-14;
      text-align: center;
      text-transform: uppercase;
      background: $secondary-color;
      border: none;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 2px 4px rgba(60, 9, 179, 0.3);
      appearance: none;
    }

    &__btn-back {
      @extend .add-block__add-btn;
    }
  }
  &__running-block {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .offer {
    &__nav {
      display: block;
    }
    & .nav {
      display: flex;
    }
    &__wrapper {
      max-width: 690px;
    }
    &__title {
      font-size: $font-24;
      line-height: 30px;
    }
    &__user-info {
      justify-content: start;
    }

    &__message-wrapper {
      margin-left: auto;
    }

    &__fullsize-icon-wrapper {
      padding: 15px;
    }

    &__gallery-item-wrapper {
      max-height: 400px;
    }

    &__gallery-img {
      height: 400px;
    }

    &__sub-gallery {
      display: flex;
    }

    &__sub-gallery-item-wrapper {
      width: 100px;
      height: 100px;
    }

    & .about {
      &__title {
        font-size: $font-24;
        line-height: 30px;
      }
    }

    & .tabs {
      display: none;
    }

    & .compare {
      display: block;
    }

    & .rating {
      &__title {
        font-size: $font-24;
        line-height: 30px;
      }
      &__type {
        justify-content: start;
      }

      &__type-name {
        width: 200px;
      }

      &__type-average {
        justify-content: start;
      }

      &__type-average-text {
        width: 200px;
      }
    }

    & .comments {
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    & .about-user {
      &__title {
        font-size: $font-24;
        line-height: 30px;
      }
      &__avatar-link-wrapper {
        margin-right: 20px;
      }
      &__main-info {
        flex-direction: row;
      }

      &__actions {
        max-width: 100px;
        margin: 0 0 0 auto;
      }
    }

    & .another-offers {
      &__title {
        font-size: $font-24;
        line-height: 30px;
      }
      &__sub-title {
        display: block;
        margin-left: 10px;
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 10px;
        max-height: 300px;
        overflow: hidden;
      }
      &__profile-link {
        display: block;
        padding: 20px;
        color: $secondary-color;
        font-weight: $font-weight-600;
        font-size: $font-14;
        font-style: normal;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .offer {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1010px;
      padding: 0px;
      &--extra {
        display: none;
      }
    }
    &__inner {
      max-width: 690px;
    }

    &__running-block {
      display: block;
      width: 300px;
    }
    & .tabs--desktop {
      position: sticky;
      top: 70px;
      display: block;
    }
  }
}
