.offer {
  &__wrapper {
    max-width: 420px;
    padding: 0 15px;
  }

  &__user-info {
    display: flex;
    justify-content: space-between;
  }

  &__user-text {
    display: flex;
    flex-wrap: wrap;
  }

  &__user-name {
    width: 100%;
  }

  &__user-star-wrapper {
    position: relative;
    width: fit-content;
    margin-right: 5px;
    text-align: right;
  }
}
