.services {
  &__wrapper {
    padding: 0 10px;
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: $font-18;
    line-height: 23px;
    text-align: center;
  }

  &__mobile-filters {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 10px;
    padding: 10px 0;
    background: #fafbfc;
    border: none;
    outline: none;
  }

  &__mobile-filters-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    background: #e9ecf2;
    border-radius: 3px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
  }

  &__filter {
    color: $gray-color;
    font-size: $font-14;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__results {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    color: $gray-color;
    font-weight: $font-weight-400;
    font-size: $font-16;
    line-height: 20px;
  }

  &__online-switch {
    display: flex;
    flex: 0 0 55%;
    justify-content: space-around;
  }

  & .mobile-filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    padding: 0 15px;
    overflow: scroll;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;

    &--open {
      display: block;
    }

    &__back {
      position: relative;
      &::after {
        position: absolute;
        top: 53%;
        left: 15px;
        width: 9px;
        height: 9px;
        border-right: 2px solid #4285f4;
        border-bottom: 2px solid #4285f4;
        -webkit-transform: translate(-50%, -50%) rotate(135deg);
        transform: translate(-50%, -50%) rotate(135deg);
        content: '';
      }
    }
    &__top {
      margin-bottom: 20px;
      padding: 22px 22px 18px;
      color: $gray-color;
      font-size: $font-14;
      line-height: 21px;
      background: #fafbfc;
    }

    &__title {
      color: $black-color;
      font-weight: $font-weight-600;
      font-size: $font-16;
      line-height: 21px;
    }
    &__budget-options {
      display: flex;
      justify-content: space-between;
    }

    &__option {
      display: flex;
      flex-direction: column;
    }
    &__budget-input {
      width: 50%;
    }

    &__deadlines {
      margin-top: 20px;
    }

    &__deadline-options {
      display: flex;
      flex-direction: column;
      align-items: left;
    }

    &__deadline-checkbox {
      color: $black-color;
      font-size: $font-16;
    }

    &__deadline-option {
      padding: 10px;
      border: 1px solid #f4f7fc;
    }

    &__service {
      margin-top: 20px;
    }
  }
  &__desktop-filters {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
  padding: 0;
}
.ant-dropdown-link {
  padding: 12px 19px;
  font-size: 14px;
  line-height: 21px;
  color: #323c47;
  font-weight: 400;
  box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);
  border-radius: 3px;
}
.ant-dropdown {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .services {
    & .mobile-filter {
      display: none;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      position: static;
      overflow: hidden;

      &__back {
        display: none;
      }

      &__filter {
        flex: 0 0 33.33%;
        margin: 0;
        background: #fff;
        box-shadow: 0px 24px 40px 2px rgba(129, 153, 213, 0.2);
        border-radius: 3px;
      }

      &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      &__title {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        position: relative;
      }

      &__options {
        position: absolute;
        background: #fff;
        border: 1px solid rgba(220, 224, 230, 0.1);
        box-sizing: border-box;
        box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);
        border-radius: 3px;
        transition: all 0.5s;
        top: 290px;
        width: 33%;
        display: none;
      }

      &__arrow {
        display: block;
        width: 12px;
        height: 8px;
        transform: translateY(-50%) rotate(180deg);
        background-image: url(/assets/img/arrow.png);
      }
    }
  }
}
