.services {
  &__wrapper {
    padding: 0 15px;
    max-width: 390px;
    margin: auto;
  }

  &__breadcrumb {
    margin: 35px 0 35px;
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: $font-18;
    line-height: 23px;
    text-align: center;
  }

  &__mobile-filters {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 10px;
    padding: 10px 0;
    background: #fafbfc;
    border: none;
    outline: none;
  }

  &__mobile-filters-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    background: #e9ecf2;
    border-radius: 3px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
  }

  &__filter-mobile {
    color: $gray-color;
    font-size: $font-14;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    color: $gray-color;
    font-weight: $font-weight-400;
    font-size: $font-16;
    line-height: 20px;
  }

  &__online-switch {
    display: flex;
    flex: 0 0 55%;
    justify-content: space-around;
  }

  &__btn-clear-mobile {
    font-size: $font-16;
    font-weight: $font-weight-600;
    margin-top: 10px;
    @extend .budget-buttons__clear;
  }

  & .mobile-filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    padding: 0 15px;
    overflow: scroll;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;

    &--open {
      display: block;
    }

    &__back {
      position: relative;
      &::after {
        position: absolute;
        top: 53%;
        left: 15px;
        width: 9px;
        height: 9px;
        border-right: 2px solid #4285f4;
        border-bottom: 2px solid #4285f4;
        -webkit-transform: translate(-50%, -50%) rotate(135deg);
        transform: translate(-50%, -50%) rotate(135deg);
        content: '';
      }
    }
    &__top {
      margin-bottom: 20px;
      padding: 22px 22px 18px;
      color: $gray-color;
      font-size: $font-14;
      line-height: 21px;
      background: #fafbfc;
    }

    &__title {
      color: $black-color;
      font-weight: $font-weight-600;
      font-size: $font-16;
      line-height: 21px;
    }
    &__budget-options {
      display: flex;
      justify-content: space-between;
    }

    &__option {
      display: flex;
      flex-direction: column;
    }
    &__budget-input {
      width: 50%;
    }

    &__deadlines {
      margin-top: 20px;
    }

    &__deadline-options {
      display: flex;
      flex-direction: column;
      align-items: left;
    }

    &__deadline-checkbox {
      color: $black-color;
      font-size: $font-16;
    }

    &__deadline-option {
      padding: 10px;
      border: 1px solid #f4f7fc;
    }

    &__service {
      margin-top: 20px;
    }
  }

  &__desktop-filters {
    display: none;
    justify-content: space-between;
  }

  &__filter {
    min-width: 200px;
    position: relative;
    box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);
    border-radius: 3px;

    &--service {
      min-width: 220px;
    }
  }

  &__budget-filter-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $white-color;
    border: none;
    outline: none;
    z-index: 20;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #323c47;
  }

  &__budget-filter-options {
    max-width: 100%;
    background-color: $white-color;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    justify-content: space-between;
    transition: all 1s ease;
    pointer-events: none;
    border-radius: 3px;

    &--open {
      transition: all 1s ease;
      opacity: 1;
      top: 50px;
      pointer-events: auto;
    }
  }

  &__budget-filter-option {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    width: 40%;
  }

  &__budget-filter-input {
    padding: 6px 5px;
    border: 1px solid #dce0e6;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 5px;
    outline: none;
    transition: border 0.5s;

    &:focus {
      border: 1px solid $primary-color;
    }
  }
  & .budget-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__close,
    &__clear {
      background-color: $white-color;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  &__budget-filter-arrow {
    transition: all 0.5s ease;
    transform: rotate(180deg);
  }
  &__budget-filter-arrow--open {
    transition: all 0.5s ease;
    transform: rotate(0deg);
  }
  &__term-filter-options {
    max-width: 100%;
    background-color: $white-color;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    transition: all 1s ease;
    pointer-events: none;
    &--open {
      transition: all 1s ease;
      opacity: 1;
      top: 50px;
      pointer-events: auto;
      border-radius: 3px;
    }
  }
  &__service-filter-options {
    max-width: 100%;
    background-color: $white-color;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    transition: all 1s ease;
    pointer-events: none;
    &--open {
      transition: all 1s ease;
      opacity: 1;
      top: 50px;
      pointer-events: auto;
      border-radius: 3px;
      width: 115%;
    }
  }

  & .term-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid rgb(241, 234, 234);

    &__btn-clear,
    &__btn-close {
      @extend .budget-buttons__clear;
    }
  }

  & .service-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid rgb(241, 234, 234);
    &__btn-clear,
    &__btn-close {
      @extend .budget-buttons__clear;
    }
  }

  &__pagination {
    text-align: center;
    padding: 20px 0px;
  }

  .ant-checkbox + span {
    padding: 10px;
    color: #272525;
    font-size: $font-16;
  }

  .ant-checkbox-group-item {
    border: 1px solid #f4f7fc;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .services {
    .ant-checkbox + span {
      font-size: $font-14;
      color: rgba(0, 0, 0, 0.65);
      display: inline-block;
      padding: 0 0 10px 10px;
    }

    .ant-checkbox-wrapper {
      padding: 0px;
    }

    &__wrapper {
      max-width: 690px;
    }
    &__title {
      font-size: 36px;
      line-height: 34px;
      margin-bottom: 60px;
    }
    & .mobile-filter {
      display: none;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      position: static;
      overflow: hidden;

      &__back {
        display: none;
      }

      &__filter {
        flex: 0 0 33.33%;
        margin: 0;
        background: #fff;
        box-shadow: 0px 24px 40px 2px rgba(129, 153, 213, 0.2);
        border-radius: 3px;
      }

      &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      &__title {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        position: relative;
      }

      &__options {
        position: absolute;
        background: #fff;
        border: 1px solid rgba(220, 224, 230, 0.1);
        box-sizing: border-box;
        box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);
        border-radius: 3px;
        transition: all 0.5s;
        top: 290px;
        width: 33%;
        display: none;
      }

      &__arrow {
        display: block;
        width: 12px;
        height: 8px;
        transform: translateY(-50%) rotate(180deg);
        background-image: url(/assets/img/arrow.png);
      }
    }
    &__desktop-filters {
      display: flex;
    }
  }
}

@media screen and (min-width: 1200px) {
  .services {
    &__wrapper {
      max-width: 1200px;
    }
    &__result-filter-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    &__total-results {
      display: none;
    }

    &__filter {
      margin-right: 10px;
    }
  }
}

///antd styles

.ant-breadcrumb a {
  font-weight: $font-weight-400;
  font-size: $font-14;
  line-height: 18px;
  color: #323c47;
  cursor: pointer;
}
.ant-breadcrumb > span:last-child a {
  font-weight: $font-weight-600;
}

.ant-checkbox-wrapper {
  padding: 10px;
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.mobile-filter__option {
  display: flex;
  justify-content: space-around;
}

.ant-radio-wrapper {
  text-transform: capitalize;
}
