:root {
  --font-weight-100: 100;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --font-roboto: 'Roboto';
}

@font-face {
  font-weight: var(--font-weight-700);
  font-family: var(--font-roboto);
  font-style: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/styles/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/styles/fonts/Roboto-Bold.woff') format('woff'),
    url('/styles/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-100);
  font-family: var(--font-roboto);
  font-style: normal;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('/styles/fonts/Roboto-Thin.woff2') format('woff2'),
    url('/styles/fonts/Roboto-Thin.woff') format('woff'),
    url('/styles/fonts/Roboto-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  --font-weight-400: 400;
  font-family: var(--font-roboto);
  font-style: italic;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('/styles/fonts/Roboto-Italic.woff2') format('woff2'),
    url('/styles/fonts/Roboto-Italic.woff') format('woff'),
    url('/styles/fonts/Roboto-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-700);
  font-family: var(--font-roboto);
  font-style: italic;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('/styles/fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('/styles/fonts/Roboto-BoldItalic.woff') format('woff'),
    url('/styles/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-100);
  font-family: var(--font-roboto);
  font-style: italic;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('/styles/fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('/styles/fonts/Roboto-ThinItalic.woff') format('woff'),
    url('/styles/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-900);
  font-family: var(--font-roboto);
  font-style: normal;
  src: local('Roboto Black'), local('Roboto-Black'),
    url('/styles/fonts/Roboto-Black.woff2') format('woff2'),
    url('/styles/fonts/Roboto-Black.woff') format('woff'),
    url('/styles/fonts/Roboto-Black.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-400);
  font-family: var(--font-roboto);
  font-style: normal;
  src: local('Roboto'), local('Roboto-Regular'),
    url('/styles/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/styles/fonts/Roboto-Regular.woff') format('woff'),
    url('/styles/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-500);
  font-family: var(--font-roboto);
  font-style: italic;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('/styles/fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('/styles/fonts/Roboto-MediumItalic.woff') format('woff'),
    url('/styles/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-300);
  font-family: var(--font-roboto);
  font-style: normal;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('/styles/fonts/Roboto-Light.woff2') format('woff2'),
    url('/styles/fonts/Roboto-Light.woff') format('woff'),
    url('/styles/fonts/Roboto-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-900);
  font-family: var(--font-roboto);
  font-style: italic;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('/styles/fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('/styles/fonts/Roboto-BlackItalic.woff') format('woff'),
    url('/styles/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-300);
  font-family: var(--font-roboto);
  font-style: italic;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('/styles/fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('/styles/fonts/Roboto-LightItalic.woff') format('woff'),
    url('/styles/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-500);
  font-family: var(--font-roboto);
  font-style: normal;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('/styles/fonts/Roboto-Medium.woff2') format('woff2'),
    url('/styles/fonts/Roboto-Medium.woff') format('woff'),
    url('/styles/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?cls64y');
  src: url('/fonts/icomoon.eot?cls64y#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?cls64y') format('truetype'),
    url('/fonts/icomoon.woff?cls64y') format('woff'),
    url('/fonts/icomoon.svg?cls64y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Iinfo:before {
  content: "\e90f";
  color: #dadada;
}
.icon-full-size:before {
  content: "\e90d";
  color: #bfc5d1;
}
.icon-Star-1:before {
  content: "\e907";
  color: #ffcb55;
}
.icon-projects1:before {
  content: "\e905";
  /* color: #bfc5d1; */
}
.icon-my-services:before {
  content: "\e90a";
  /* color: #bfc5d1; */
}
.icon-finance:before {
  content: "\e90c";
  /* color: #bfc5d1; */
}
.icon-arbitr:before {
  content: "\e909";
  color: #fff;
}
.icon-users:before {
  content: "\e90b";
  color: #fff;
}
.icon-Mask:before {
  content: "\e915";
}
.icon-download-file:before {
  content: "\e913";
  color: #a6a7a8;
}
.icon-files_folder:before {
  content: "\e912";
  color: #707683;
}
.icon-file:before {
  content: "\e911";
  color: #bfc5d1;
}
.icon-send-message:before {
  content: "\e910";
  color: #bfc5d1;
}
.icon-Settings1:before {
  content: "\e904";
  /* color: #bfc5d1; */
}
.icon-message:before {
  content: "\e90e";
  /* color: #fff; */
  /* background-color: #bfc5d1; */
}
.icon-dashboard:before {
  content: "\e903";
  /* color: #fff; */
}
.icon-Settings:before {
  content: "\e914";
  color: #bfc5d1;
}
.icon-upload:before {
  content: "\e902";
  color: #bfc5d1;
}
.icon-done:before {
  content: "\e901";
  color: #fff;
}
.icon-close-24px:before {
  content: "\e900";
}
