.dashboard-content {
  position: relative;
  height: calc(100vh - 70px);
  padding: 15px 0px;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .dashboard-content {
    margin-top: 10px;
    margin-left: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .dashboard-content {
    width: 75%;
    margin-left: 265px;
  }
}

@media screen and (min-width: 1440px) {
  .dashboard-content {
    min-width: 80%;
  }
}
