.header {
  &__nav {
    display: none;
  }
  &__navigation {
    display: none;
    list-style: none;
    &-item {
      margin: 0 10px;
      color: $black-color;
      font-size: $font-16;
      text-decoration: none;
    }
  }
  &__logo {
    width: 100px;
  }
  &__login {
    &-link {
      margin: 0 10px;
      padding: 6px 7px;
      color: $primary-color;
      font-weight: $font-weight-700;
      font-size: $font-14;
      text-decoration: none;
      & + & {
        display: none;
        background: $primary-color;
        border-radius: 5px;
      }
    }
  }
  &__input {
    &.MuiInputBase-root {
      display: none;
    }
  }
  &__lang {
    &.MuiFormControl-root {
      min-width: 45px;
    }
    & select {
      padding-left: 5px;
      color: $primary-color;
      font-weight: $font-weight-700;
      font-size: $font-14;
      border: none;
      border-radius: 5px;
      & option {
        font-weight: $inherit;
      }
    }
    & svg {
      fill: $primary-color;
    }
  }
  &__menu {
    &.MuiButtonBase-root {
      & svg {
        fill: $primary-color;
      }
    }
  }
  &__toolbar {
    &.MuiToolbar-root {
      justify-content: space-between;
      width: 100%;
      padding: 0 8px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu {
      &.MuiButtonBase-root {
        display: none;
      }
    }
    &__logo {
      width: 150px;
    }
    &__nav {
      display: flex;
      flex-direction: flex-start;
    }
    &__navigation {
      display: flex;
    }
    &__login {
      &-link {
        font-size: $font-16;
        & + & {
          display: inline-block;
          color: $white-color;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__input {
      &.MuiInputBase-root {
        display: inline-flex;
        align-self: center;
        height: 30px;
        margin-left: 20px;
      }
    }
  }
}
