.header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;

  &__menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 10px;

    img {
      max-width: 100%;
    }
  }

  &__logo-wrapper {
    width: 120px;
    height: 28px;
    margin-right: auto;
  }

  &__nav-wrapper {
    display: none;
    margin: auto;
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 150px;
      height: 50px;

      &__item {
        color: $black-color;
        transition: opacity 1s ease;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  &__nav-wrapper--auth {
    display: none;
  }

  &__search-wrapper {
    display: none;
    width: 40%;
    margin-right: auto;
    margin-right: 30px;
  }

  &__search-wrapper--auth {
    display: none;
  }
  &__select-auth-wrapper {
    display: flex;
  }

  &__user-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-greetings {
    display: none;
    margin-right: 10px;
    font-weight: $font-weight-400;
    font-size: $font-16;
    font-style: normal;
    line-height: 18px;
    cursor: pointer;
    user-select: none;
  }
  &__user-notification-wrapper {
    margin-right: 10px;
  }

  &__user-notification-icon {
    cursor: pointer;
  }

  &__user-avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__user-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__drop-down {
    position: absolute;
    top: 52px;
    right: 0;
    z-index: 15;
    width: 200px;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(220, 224, 230, 0.1);
    border-radius: 3px;
    box-shadow: 0 10px 16px rgba(128, 152, 213, 0.2);

    &::after {
      position: absolute;
      top: -10px;
      right: 0;
      display: block;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent;
      box-shadow: 6px 25px 32px rgba(128, 152, 213, 0.5);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      content: '';
    }
  }

  &__user-notification {
    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 9;
    display: none;
    width: calc(100vw - 30px);
    height: auto;
    max-height: 700px;
    text-align: center;
    background-color: $white-color;
    border: 1px solid #f4f7fc;
    border-radius: 8px;
    box-shadow: 0 15px 21px rgba(128, 152, 213, 0.5);
  }

  &__user-notification--open {
    display: block;
  }

  &__user-notifications {
    display: block;
    margin: 0 auto;
    padding: 16px;
    color: $gray-color;
    font-size: $font-18;
    line-height: 150%;
    text-align: center;
    opacity: 0.5;
  }

  &__drop-down-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__drop-down-item {
    padding: 10px;
  }
  &__drop-down-item--border {
    border-bottom: 1px solid #ebeeff;
  }

  &__drop-down-link {
    color: $black-color;
    font-size: $font-16;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
  }
  &__drop-down-link--action {
    color: $gray-color;
  }

  &__language-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: $secondary-color;
    font-weight: $font-weight-600;
    font-size: $font-16;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
  }

  &__current-lang {
    margin-right: 10px;
    text-transform: uppercase;
  }

  &__lang {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 60px;
    max-width: 60px;
    background-color: $white-color;
    border-radius: 5px;
  }

  &__lang-select {
    text-transform: uppercase;
  }

  &__login-anchor {
    font-weight: $font-weight-600;
    font-size: $font-16;
    font-style: normal;
  }

  &__login {
    color: $secondary-color;
  }

  &__register-anchor {
    display: none;
    margin-left: 10px;
    padding: 4px 12px 6px;
    font-weight: $font-weight-600;
    font-size: $font-14;
    line-height: 18px;
    text-align: center;
    background: #3c7eea;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(60, 9, 179, 0.3);
  }
  &__register {
    color: $white-color;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu-wrapper {
      display: none;
    }

    &__logo-wrapper {
      margin: 0;
    }

    &__nav-wrapper {
      display: flex;
    }

    &__search-wrapper {
      display: flex;
    }

    &__user-panel {
      min-width: 200px;
    }
    &__user-notification-wrapper {
      margin: 0;
    }

    &__user-notification {
      width: 395px;
    }

    &__user-greetings {
      display: block;
    }

    &__register-anchor {
      display: flex;
    }
  }
}
