.notification {
  font-family: $font-roboto;

  &__wrapper .ant-form {
    display: grid;
    grid-template-columns: 1fr;
    color: $gray-color-title;
    font-family: $font-roboto;
  }

  &__block-info,
  &__title {
    border-bottom: 1px solid #ebeeff;
  }

  .ant-form h3 {
    margin: 0;
    padding: 35px 20px 20px;
    font-weight: $font-weight-400;
    font-size: $font-12;
    font-style: normal;
    line-height: 143%;
    text-transform: uppercase;
  }

  &__all-info p,
  .ant-form label {
    font-weight: $font-weight-400;
    font-size: $font-16;
    font-style: normal;
  }

  &__block-info {
    padding: 15px 15px 20px;
    color: $gray-color-title;
  }

  &__all-info {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  &__all-info-switch {
    display: flex;
    justify-content: flex-end;
  }

  &__maim-info,
  &__project-info {
    display: flex;
    flex-direction: column;
  }

  &__checkbox {
    height: 37px;
    margin-bottom: 10px;
  }

  &__checkbox span {
    height: 20px;
    padding-right: 8px;
    padding-left: 8px;
  }

  &__checkbox .ant-checkbox {
    border: 3px;
  }
}

@media screen and (min-width: 768px) {
  .notification {
    &__block {
      padding-left: 20px;
    }

    &__all-info-switch {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .notification {
    &__block {
      display: grid;
      grid-template-columns: 23% 77%;
      margin-left: 0;
    }

    &__all-info {
      max-width: 800px;
    }
  }
}
