.services {
  &__list {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
  }

  & .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px 30px;
    color: $gray-color;
    background-color: $white-color;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(199, 213, 255, 0.55);

    &__img-wrapper {
      width: 100%;
      height: 180px;
    }

    &__img {
      width: 100%;
      height: 100%;
    }

    &__description {
      display: flex;
      flex-direction: column;
      height: 100px;
      margin-top: 10px;
      padding: 0 10px;
    }

    &__about {
      min-height: 30px;
      margin-bottom: 35px;
      color: $black-color;
      font-size: $font-14;
      line-height: 16px;
      text-decoration: none;
      word-break: break-all;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__rating {
      display: flex;
    }

    &__star-wrapper {
      display: flex;
      width: 20px;
    }

    &__star {
      width: 100%;
    }

    &__star-count {
      margin-left: 5px;
    }

    &__reviews {
      margin-left: 30px;
    }

    &__avatar-wrapper {
      width: 30px;
      height: 30px;
    }

    &__avatar {
      width: 100%;
      border-radius: 50%;
    }

    &__price-block {
      margin-top: 10px;
      padding: 10px;
      font-weight: $font-weight-400;
      font-size: $font-14;
      line-height: 18px;
      border: 1px solid #f4f7fc;
    }
  }
}

@media screen and (min-width: 768px) {
  .services {
    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
      gap: 10px;
      align-items: baseline;
      justify-content: space-between;
      margin-top: 40px;
    }

    & .item {
      &__img-wrapper {
        width: 100%;
        height: 140px;
      }
    }

    &__mobile-filters {
      display: none;
    }

    &__total-results {
      padding: 0 10px;
    }

    &__online-switch {
      flex: 0 0 auto;
      align-items: center;
      margin-left: auto;
      padding: 0 10px;
    }

    &__now-online {
      padding: 12px 0px 12px 19px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .services {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(250px, 270px));
      gap: 30px;
      justify-content: space-between;
    }
    & .item {
      width: 100%;
      &__img-wrapper {
        height: 165px;
      }
    }
  }
}
