@import './fonts/sansPro.css';
@import '../public/fonts/icomoon.css';
@import './variables';
@import './layouts/header';
@import './layouts/landing';
@import './layouts/loginForm';
@import './layouts/registrationForm';
@import './layouts/mobile-menu';
@import './pages/loginPage';
@import './layouts//mobile-menu';
@import './layouts/footer';
@import './layouts/categories';
@import './pages/services';
@import './layouts/catalogList';
@import './pages/subCatalog';
@import './layouts/servicesCard';
@import './pages/offerPage';
@import './layouts/dashboardHeader';
@import './layouts/dashboardMenu';
@import './pages/carousel';

body {
  font-family: $font-sans !important;
}
html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1800px) {
  .container {
    width: 1600px;
  }
}
